---
layout: page
title: Projects
permalink: /projects/
---
<div class="pure-g">
  {% assign sorted_projects = site.projects | sort: "priority" %}
  {% for project in sorted_projects %}
    {% assign project_data = site.data.projects[project.project] %}
    <div class="pure-u-1 pure-u-xl-1-2">

      <div class="card">

        <h3 class="card-header"><a href="{{ project.url | prepend: site.baseurl }}">{{ project_data.name }}</a></h3>

        <p><span class="post-category post-category-js ">Status: {{ project_data.status }}</span><p>

        <p>
          {% for tech in project_data.techs %}
          <span class="post-category post-category-pure">{{ tech }}</span>
          {% endfor %}
        </p>

        <div class="post-description">
          <p>{{ project_data.description }} <a href="{{ project.url | prepend: site.baseurl }}">Learn more...</a></p>
        </div>

      </div>

    </div>

  {% endfor %}

</div>
